* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

article {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

nav {
    background-color: rgba(128, 128, 128,0.3);
    margin-top: 0;
    width: 100%;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    height: 2em;
    gap: 2rem;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    font-size: 1.4rem;
}

nav ul li img {
    height: 100%;
    width: 100%;
}

nav ul li:nth-child(even) {
    color: rgb(255, 60, 0);
}

h1 {
    margin: 20px 0 10px;
    color: #333;
}

p {
    text-align: justify;
    color: #555;
    max-width: 600px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.card {
    width: 600px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007BFF;
}