.navbar-brand img {
  width: 40%;
}

.card {
  width: 100%; /* Pastikan card mengisi lebar container */
}

.card img {
  height: 40vh; /* Biarkan tinggi gambar otomatis */
  width: 100%; /* Gambar memenuhi lebar card */
  object-fit: cover; /* Memastikan gambar terpotong dengan baik */
}

.article-container {
  display: flex;
  overflow-x: auto; /* Menambahkan scroll horizontal jika diperlukan */
  width: 100%; /* Memastikan article memiliki lebar 100% */
}

.article-section {
  min-width: 300px; /* Atur lebar minimum untuk setiap section */
}

.lead {
  font-size: 1.25rem; /* Ukuran font default untuk p.lead */
}

@media (max-width: 760px) {
  /* Tablet dan hp */
  .article-container {
    margin: 10px 2px;
    padding: 0;
  }

  .lead {
    font-size: 0.9rem; /* Kecilkan ukuran font */
  }

  .article-section {
    margin: 5px 2px; /* Kecilkan margin section */
    padding: 0;
    min-width: 200px;
  }

  .card {
    max-width: 200px; /* Batasi lebar maksimal card */
    width: 100%; /* Pastikan card memenuhi lebar kontainer */
  }

  .card img {
    height: 200px;
  }
}

@media (max-width: 485px) {
  /* Aturan untuk lebar layar di bawah 485px */
  .article-container {
    flex-direction: column; /* Ubah arah flex menjadi kolom */
    align-items: center; /* Pusatkan item dalam kolom */
  }

  .article-section {
    width: 80%;
  }
}

/* Menambahkan styling untuk memusatkan card */
.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Pastikan untuk memenuhi tinggi section */
}
