article {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

h1 {
    margin: 0 0 20px;
    color: #333;
    font-size: 2em;

}

p {
    text-align: justify;
    color: #555;
    max-width: 600px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.75);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.card {
    margin-top: 30px;
    width: 600px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 15px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007BFF;
}